@using WowsKarma.Common.Models
@using static WowsKarma.Common.Models.PostFlairsUtils

@inject PostService PostService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager


@if (Loaded)
{
	<div class="row justify-content-between align-content-end">
		<div class="col-auto mb-3">
			<AuthorizeView>
				<Authorized>
					@{ AssignAuthorId(context.User.FindFirst(ClaimTypes.NameIdentifier).Value); }
					@if (AccountId != authorId)
					{
						<button class="btn btn-success px-4" @onclick=CreatePost>New Post</button>
					}
					else
					{
						<h5 class="text-info">(You cannot self-post.)</h5>
					}
				</Authorized>
				<NotAuthorized>
					@{
						string redirectUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
					}
					<h5 class="text-warning">You must first <a href=@($"/login?redirectUrl={redirectUrl}")>login</a> before creating a Post.</h5>
				</NotAuthorized>
			</AuthorizeView>
		</div>
	</div>

	@if (PlayerPosts is null || PlayerPosts.Count() is 0)
	{
		<h4 class="text-warning mb-5">No Posts found for this Player.</h4>
	}
	else
	{
		<div class="row">
			@foreach (PlayerPostDTO post in PlayerPosts)
			{
				<div class="card border-@GetPostBorderColor(post.Flairs) my-3 mx-3" style="max-width: 20rem;">
					<h5 class="card-header">@post.Title</h5>
					<div class="card-body">
						<p class="card-text" style="white-space: pre-wrap;">@post.Content</p>
					</div>
					<div class="card-body py-0 my-1 flex-grow-0" style="line-height:normal">
						@{ PostFlairsParsed parsed = post.Flairs.ParseFlairsEnum(); }
						@if (parsed?.Performance is not null)
						{
							<small class="my-0 text-@(parsed.Performance.Value ? "success" : "danger")">@(parsed.Performance.Value ? "+" : "-") Performance</small><br />
						}
						@if (parsed?.Teamplay is not null)
						{
							<small class="my-0 text-@(parsed.Teamplay.Value ? "success" : "danger")">@(parsed.Teamplay.Value ? "+" : "-") Teamplay</small><br />
						}
						@if (parsed?.Courtesy is not null)
						{
							<small class="my-0 text-@(parsed.Courtesy.Value ? "success" : "danger")">@(parsed.Courtesy.Value ? "+" : "-") Courtesy</small>
						}
					</div>

					<div class="card-footer">
						<p class="blockquote-footer mb-0">
							<NavLink href=@($"/player/{post.AuthorId},{post.AuthorUsername}")>@post.AuthorUsername</NavLink>,
							@post.PostedAt.Value.ToString("MM/dd/yyyy @ HH:mm").
						</p>

						<AuthorizeView>
							<Authorized>
								@{ AssignAuthorId(context.User.FindFirst(ClaimTypes.NameIdentifier).Value); }

								@if (post.AuthorId == authorId)
								{
									<p class="mt-1 mb-0">
										<button class="btn btn-warning btn-sm" @onclick=@(() => EditPost(post))>Edit</button>
										<button class="btn btn-danger btn-sm" @onclick=@(() => InitDeleteModal(post.Id.Value))>Delete</button>
									</p>
								}
							</Authorized>
						</AuthorizeView>
					</div>
				</div>
			}
		</div>
	}

	@if (showEditorModal)
	{
		<EditorModal PostModel=currentEditorPost OnPostSubmited=EditorModalSubmitAsync OnCancel=EditorModalCancel />
	}
	else if (showDeleteModal)
	{
		<DeleteConfirm OnConfirm=DeleteModalSubmitAsync OnCancel=DeleteModalCancel />
	}
}
else
{
	<h3 class="text-info">Loading Posts...</h3>
}



@code
{
	[Parameter]
	public uint AccountId { get; set; }

	[Parameter]
	public EventCallback OnPostsUpdate { get; set; }

	public IEnumerable<PlayerPostDTO> PlayerPosts { get; set; }

	public bool Loaded { get; private set; }
	private bool showEditorModal, showDeleteModal;

	private PlayerPostViewModel currentEditorPost;
	private Guid currentDeleteId;

	private uint authorId;


	protected override async Task OnParametersSetAsync()
	{
		PlayerPosts = await PostService.FetchReceivedPostsAsync(AccountId, 0);
		await base.OnParametersSetAsync();

		Loaded = true;
	}

	private void CreatePost()
	{
		currentEditorPost = new();
		currentEditorPost.PlayerId = AccountId;
		currentEditorPost.AuthorId = authorId;

		showEditorModal = true;
	}

	private void EditPost(PlayerPostDTO post)
	{
		currentEditorPost = post;

		showEditorModal = true;
	}

	public async Task UpdatePostsAsync()
	{
		PlayerPosts = await PostService.FetchReceivedPostsAsync(AccountId, 0);
		await OnPostsUpdate.InvokeAsync();
	}

	private void EditorModalCancel() => showEditorModal = false;
	private async Task EditorModalSubmitAsync()
	{
		showEditorModal = false;
		currentEditorPost = null;
		await UpdatePostsAsync();
	}


	private void InitDeleteModal(Guid postId)
	{
		currentDeleteId = postId;
		showDeleteModal = true;
	}
	private void DeleteModalCancel() => showDeleteModal = false;
	private async Task DeleteModalSubmitAsync()
	{
		showDeleteModal = false;
		await PostService.DeletePostAsync(currentDeleteId);
		await UpdatePostsAsync();
	}

	private void AssignAuthorId(string accountUrl) => authorId = GetAccountInfoFromOidcUrl(accountUrl).Id;
}