@using Nodsoft.Wargaming.Api.Common.Data.Responses.Wows
<table class="table table-responsive table-hover align-middle">
	<thead>
		<tr>
			<th>Rank</th>
			<th>Username</th>
			<th>Account Created</th>
			<th>Joined Clan</th>
			<th>Game Karma</th>
			<th>Platform Karma</th>
			<th>Performance</th>
			<th>Teamplay</th>
			<th>Courtesy</th>
			<th>Last Battle</th>
		</tr>
	</thead>

	<tbody>
		@foreach (PlayerProfileDTO player in Players.OrderBy(p => p.Clan!.ClanMemberRole).ThenByDescending(p => p.Clan.JoinedClanAt))
		{
			<tr>
				<td><i class=@GetClanRoleIconClass(player.Clan!.ClanMemberRole) title=@player.Clan.ClanMemberRole.ToString("G")></i></td>
				<td><a href="/player/@player.Id,@player.Username">@player.Username</a></td>
				<td class="small">@player.WgAccountCreatedAt.ToString("d")</td>
				<td class="small">@player.Clan.JoinedClanAt.ToString("d")</td>
				<td class="lead text-@GetKarmaColor(player.GameKarma)">@player.GameKarma</td>
				<td class="lead text-@GetKarmaColor(player.SiteKarma)">@player.SiteKarma</td>
				<td class="lead text-@GetKarmaColor(player.RatingPerformance)">@player.RatingPerformance</td>
				<td class="lead text-@GetKarmaColor(player.RatingTeamplay)">@player.RatingTeamplay</td>
				<td class="lead text-@GetKarmaColor(player.RatingCourtesy)">@player.RatingCourtesy</td>
				<td class="small">@player.LastBattleTime.ToString("G")</td>
			</tr>
		}
	</tbody>
</table>

@code {

	[Parameter]
	public IEnumerable<PlayerProfileDTO> Players { get; set; }

	public static string GetClanRoleIconClass(ClanRole role) => role switch
	{
		ClanRole.Commander           => "clanranks-commander",
		ClanRole.ExecutiveOfficer    => "clanranks-executiveofficer",
		ClanRole.RecruitmentOfficer  => "clanranks-recruiter",
		ClanRole.CommissionedOfficer => "clanranks-commissionedofficer",
		ClanRole.Officer             => "clanranks-officer",
		ClanRole.Private             => "clanranks-private",
		_ => string.Empty
	};
}